.sidebar__avatar{ 
    width: 30%;
    margin: auto;
    /* height: 20%; */
}
  .avatar{
    font-size: 70px;
    color: #D9D9D9D9;
    text-align: center;
  }
  
  
  .sidebar-menu-item {
    margin-left: 0 30px 10px 0;
  }
  
  .sidebar-menu-link {
    display: block;
    margin: 0 30px 30px;
    /* padding: 10px; */
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-menu-link:hover {
    color: #173C96;
  }

  .sidebar__open {
    display: flex;
    justify-content: space-between;
    padding: 76px 20px 0 20px;
    /* position: fixed; */
    /* top: 100px;
    left: 80px; */
    width: 305px;
    /* margin-inline-start: 80px; */
    /* height: 100vh; */
    list-style: none;
    margin: 20px 0 20px 80px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.3);
  }

  .sidebar__closed{
    /* height: 100%; */
    padding-block-start: 115px;
    width: 80px;
    background-color: #fff;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .sidebar__icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .sidebar__menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar__item {
    margin-bottom: 10px;
  }
  
  .sidebar__link {
    display: flex;
    align-items: center;
    height: 40px;
    color: #333;
    text-decoration: none;
    padding: 0 20px;
  }
  
  .sidebar__text {
    display: inline-block;
    margin-left: 30px;
    /* margin-block-end: 32px; */
  }
  
  .content-container {
    display: inline;    
    margin: 0;
  }

  .titlebar__container{
    display: flex;
    align-items: center;    
    background-color: #fff;            
    width: 90%;
    height: 53px;               
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0); */
  }

  /* .content {
    background-color: #444;
} */
